/* base.html  */

body {
    background-color: #eeeeee;
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-navbar {
    height: 5vh;
    font-family: Rubik;
    font-weight: 600;
    color: #2b674f;
}

.footer {
    height: 10vh;
    position: relative;
    margin-top: auto;
}

.btn-primary {
    background-color: #2b674f;
}

.alert {
    position: fixed;
    top: 6vh;
    left: 0;
    width: 100%;
    z-index: 1000000000000; /* numero bem alto pra sobrepor todos elementos */
}

/* main.html */

.main {
    width: 500px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main_p {
    font-size: 18px;
    text-align: left;
}

#slogan {
    font-size: 32px;
}

/* register.html + login.html */

.titulo {
    font-size: 32px;
    font-weight: 600;
}

.register-login {
    width: max-content;
    flex-direction: column;
    margin-bottom: 60px;
    flex: 1;
    padding-right: 60px;
    padding-left: 60px;
}

.login {
    height: 85vh;
}

.login-text {
    flex-direction: column;
    flex: 2;
    padding: 60px;
}

.login-button {
    width: 100%;
}

.line {
    flex: 1;
    border: none;
    border-top: 1px solid #000; /* Estilo da linha horizontal */
    margin: 0 10px; /* Espaçamento entre as linhas e parágrafos */
}

.forgot-password {
    text-decoration: none;
    color: #2b674f;
    font-weight: 600;
}

.btn.btn-outline-info {
    background-color: #ffffff;
    border: 1px solid #2b674f;
    color: #2b674f;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn.btn-outline-info:hover {
    background-color: #2b674f;
    color: #ffffff;
}

.btn.btn-outline-info a {
    text-decoration: none;
    color: inherit;
}

.google-logo {
    margin-right: 10px; 
    height: 24px; 
}

/* user-profile.html */

.top-infos {
    position: relative;
    width: 1300vh;
    height: 25vh;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: auto;
}

.profile-picture {
    width: 19vh;
    height: 19vh;
    overflow: hidden;
    flex: 1;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}

.top-infos-uteis {
    height: 19vh;
    width: fit-content;
    flex-direction: column;
    flex: 2;
}

.top-infos-contato {
    height: 19vh;
    width: fit-content;
    flex: 2;
}

.top-infos-uteis h1, .top-infos-contato h1 {
    font-weight: 800;
    font-size: 24px;
}

.top-infos-uteis p, .top-infos-contato p {
    font-weight: 400;
    font-size: 18px;
}

.btn.btn-light {
    background-color: #eeeeee;
}

.btn-perfil, .btn-projeto {
    width: fit-content;
}

.btn-perfil a, .btn-projeto a {
    text-decoration: none;
    color: inherit;
}

.lattes-logo, .edit-icon {
    margin-right: 10px; 
    height: 24px; 
}

.btn-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Adicione margens para espaçamento adequado */
}

.formacao-pesquisa {
    position: relative;
    width: 1300vh;
    height: 55vh;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-y: auto;
}

.formacao-pesquisa li {
    font-weight: 600;
}

/* user-profile-edit.html */

.edit-profile h2 {
    font-size: 24px;
    font-weight: 600;
}

/* project-card.html */

.card-link {
    text-decoration: none;
}

/* projects-feed.html */

.projects-feed {
    height: 60vh;
    width: 1230px;
    overflow-y: auto;
}

.card {
    width: 350px;
    height: 300px;
}

.card-body {
    overflow-y: auto;
}

/* project-page.html */

.project_page {
    flex: 1;
    width: 1100px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* box-sizing: border-box; */
}

.project_page h2 {
    font-size: 20px;
    font-weight: 600;
}

.project_page h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

/* delete_project.html user_confirm_delete.html */

.delete_project, .delete_user {
    height: 80vh;
    width: 1100px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* subscription-requests.html */

.subscription-requests {
    height: 70vh;
    overflow-y: auto;
}

.subs-request {
    width: 450px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.subs-request h2 {
    font-size: 20px;
    font-weight: 600;
}

/* user_detail.html */

.user-detail {
    height: 85vh;
    width: 1100px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}