{% extends 'base/base.html' %}
{% load static %}

{% block 'title' %}
    <title>Criar Projeto</title>
{% endblock %}

{% block 'body' %}
    <div class="container">
        <h1 class="text-primary-emphasis titulo d-flex justify-content-center py-5">Criar Novo Projeto</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ project_form.as_p }}

            <button type="submit" class="btn btn-primary rounded-pill">Salvar</button>
        </form> 
    </div>
{% endblock %}
