{% extends 'base/base.html' %}
{% load static %}

{% block 'title' %}
    <title>Editar Projeto</title>
{% endblock %}

{% block 'body' %}
<div class="container">
  <h1 class="text-primary-emphasis titulo d-flex justify-content-center py-5">Editar Projeto</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary rounded-pill my-2">Salvar Alterações</button>
  </form>
  <br>
  <a href="{% url 'project-page' project.id %}" class="mt-auto">&#8592; Voltar para a página do projeto</a>
</div>
{% endblock %}
