{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecta Científica - Projeto</title>
</head>
<body>
    <div class="container project_page p-5 my-3">
        <h1>{{ project.title }}</h1>
        <h4>Professor Orientador: {{ project.advisor }}</h4>
        <p>{{ project.description }}</p>

        <h3>Requisitos</h3>

        {{  project.requirements }}
   
        </button>
    </div>
</body>
</html>
