{% extends 'base/base.html' %}

{% block 'title' %}
    <title>Login</title>
{% endblock %}

{% block 'body' %}
    <div class="container register-login d-flex justify-content-center">
        <p class="text-primary-emphasis titulo d-flex justify-content-center py-5">LOGIN</p>
        <form method="post" class="text-body">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class="btn btn-primary rounded-pill" type="submit">LOGIN</button>
        </form>

        <br>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <div id="g_id_onload"
            data-client_id="{{ CLIENT_ID }}"
            data-login_uri="http://localhost:8000/login/"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
    {% endblock %}

