{% extends 'base/base.html' %}
{% load socialaccount %}

{% block 'title' %}
    <title>Conecta Científica - Login</title>
{% endblock %}

{% block 'body' %}
    <div class="container d-flex align-align-items-center login">
        <div class="container register-login d-flex justify-content-center">
            <p class="text-primary-emphasis titulo d-flex justify-content-center py-5">LOGIN</p>
            <form method="post" class="text-body">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button class="btn btn-primary rounded-pill login-button mt-3 mb-4" type="submit">ENTRAR</button>
            </form>

            <a href="#" class="forgot-password">Esqueceu a senha?</a>

            <div class="container d-flex align-items-baseline mt-5">
                <hr class="line p-1">
                <p class="align-text-center"> OU </p>
                <hr class="line p-1">
            </div>        

            <button class="btn btn-outline-info mt-4">
                <a href="{% provider_login_url 'google' %}?next=/">
                    <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="Google Logo" class="google-logo">
                    Login com o Google
                </a>
            </button>                 
        </div>

        <div class="login-text text-dark d-flex justify-content-center">
            <p id="slogan" class="pb-4">Entre no <em><strong><span class="text-primary-emphasis">Conecta Científica</span></strong></em>!</p>
            <p id="slogan" class="pb-4"><em><strong><span class="text-primary-emphasis">Conecte-se</span></strong></em> com oportunidades de pesquisa, mentes brilhantes e o futuro da ciência.</p>
            <p id="slogan">Junte-se à nossa comunidade e inicie a sua jornada <em><strong><span class="text-primary-emphasis">científica</span></strong></em> agora.</p>
        </div>
    </div>
    {% endblock %}

