{% extends 'base/base.html' %}
{% load socialaccount %}

{% block 'title' %}
    <title>Conecta Científica - Registro</title>
{% endblock %}

{% block 'body' %}
    <div class="container register-login d-flex justify-content-center">
        <p class="text-primary-emphasis titulo d-flex justify-content-center py-5">REGISTRO DE USUÁRIO</p>
        <form method="post" class="text-body">
            {% csrf_token %}
            {{ user_form.as_p }}
            <!-- {{ profile_form.as_p }} -->
            <button class="btn btn-primary rounded-pill" type="submit">REGISTRAR</button>
        </form>

        <button class="btn btn-outline-info mt-3">
            <a href="{% provider_login_url 'google' %}?next=/">
                <img src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA" alt="Google Logo" class="google-logo">
                Registrar-se com o Google
            </a>
        </button>
    </div>
{% endblock %}

