{% extends 'base/base.html' %}
{% load static %}

{% block 'title' %}
    <title>Edição de Perfil</title>
{% endblock %}

{% block 'body' %}
    <h1 class="text-primary-emphasis titulo d-flex justify-content-center py-5">Edição de Perfil</h1>
    
    <div class="container edit-profile">
        <form method="post">
            {% csrf_token %}
            {{ user_profile_form.as_p }}
    
            <h2 class="text-primary-emphasis py-3">Educação e Pesquisa</h2>
            {{ education_form.as_p }}

            {{ research_area_form.as_p }}
    
            {% comment %} <h2 class="text-primary-emphasis py-3">Projetos</h2>
            {{ research_project_form.as_p }} {% endcomment %}
    
            <button class="btn btn-primary rounded-pill" type="submit">SALVAR</button>
        </form>
    </div>
{% endblock %}
