<!-- user_detail.html -->
{% extends 'base/base.html' %}

{% block 'title' %}
    <title>Detalhes do Usuário</title>
{% endblock %}

{% block 'body' %}
    <div class="container">
        <h1>{{ user.username }}</h1>
        <p>Email: {{ user.email }}</p>

        {% if user.is_authenticated and user == request.user %}
            <a href="{% url 'user_update' pk=user.pk %}" class="btn btn-primary">Editar Perfil</a>
            <a href="{% url 'user_delete' pk=user.pk %}" class="btn btn-danger">Excluir Perfil</a>
        {% endif %}
    </div>
{% endblock %}
