<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ user_profile_form.as_p }}
        
        <h2>Educação</h2>
        {{ education_form.as_p }}
        
        <h2>Área de Pesquisa</h2>
        {{ research_area_form.as_p }}
        
        <h2>Projetos</h2>
        {{ research_project_form.as_p }}

        <input type="submit" name="user_profile_form" value="Save">
        
    </form>
    <h1>Lattes</h1>
    <form method="post">
        {% csrf_token %}
        
        <p>Utilize suas informações do Lattes para preencher seu perfil</p>

        {{lattes_form}}

        <input type="submit" name="lattes_form" value="Pesquisar">
    </form>
</body>
</html>
