{% extends 'base/base.html' %}

{% block 'title' %}
    <title>Detalhes do Usuário</title>
{% endblock %}

{% block 'body' %}
    <div class="container user-detail d-flex flex-column justify-content-around p-3">
        <div>
            <h1 class="text-primary-emphasis titulo mb-3">{{ user.username }}</h1>
            <p class="text-body my-3">Email: {{ user.email }}</p>
        </div>

        <!-- Seção de Perfil -->
        <div>
            <h3 class="text-success-emphasis">Dados Pessoais</h3>
            <p class="text-body my-3">
                Nome: {{ user_profile.name }}<br>
                E-mail: {{ user_profile.email }}<br>
                Descrição: {{ user_profile.description }}<br>
            </p>
        </div>

        <!-- Adicionando a seção de Tags -->
        <div>
            <h3 class="text-success-emphasis">Tags</h3>
            <div class="my-3">
                {% for tag in tags_list %}
                    <span class="badge bg-primary">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>

        <!-- Seção de Educação 
        <h3 class="text-success-emphasis">Educação</h3>
        {% for education in educations %}
            <p>
                Grau: {{ education.degree }}<br>
                Universidade: {{ education.university }}<br>
                Curso: {{ education.course }}<br>
                Data de Início: {{ education.start_date }}<br>
                Data de Conclusão: {{ education.end_date }}
            </p>
        {% endfor %}


        <h3 class="text-success-emphasis">Áreas de Pesquisa</h3>
        {% for research_area in research_areas %}
            <p>
                Área de Pesquisa: {{ research_area.name }}
            </p>
        {% endfor %}

        
        <h3 class="text-success-emphasis">Projetos de Pesquisa</h3>
        {% for research_project in research_projects %}
            <p>
                Título: {{ research_project.title }}<br>
                Descrição: {{ research_project.description }}
            </p>
        {% endfor %}
        -->

        {% if user.is_authenticated and user == request.user %}
        <div class="d-flex justify-content-center">
            <a href="{% url 'user_update' pk=user.pk %}" class="btn btn-primary mx-2">Editar Perfil</a>
            <a href="{% url 'user_delete' pk=user.pk %}" class="btn btn-danger mx-2">Excluir Perfil</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
