{% extends 'base/base.html' %}

{% block 'title' %}
    <title>Atualizar Detalhes do Usuário</title>
{% endblock %}

{% block 'body' %}
    <div class="container">
        <h1 class="text-primary-emphasis titulo d-flex justify-content-center py-5">Atualizar Detalhes do Usuário</h2>
        <form method="post">
            {% csrf_token %}
            
            <!-- Campos do formulário -->
            {{ user_profile_form.as_p }}
            {{ education_form.as_p }}
            {{ research_area_form.as_p }}
            {{ research_project_form.as_p }}
            
            <!-- Botões para identificar o formulário -->
            <button type="submit" name="user_profile_form" value="Salvar Perfil" class="btn btn-primary rounded-pill my-4 mx-1">Atualizar Perfil</button>
            <!-- <button type="submit" name="lattes_form" value="Salvar Lattes" class="btn btn-primary rounded-pill my-4 mx-1">Salvar Lattes</button> -->W
        </form>
        <a href="{% url 'user_detail' pk=user.pk %}">&#8592; Voltar para a página de perfil</a>
    </div>
{% endblock %}
