/* base.html  */

body {
    background-color: #eeeeee;
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-navbar {
    height: 5vh;
    font-family: Rubik;
    font-weight: 600;
    color: #2b674f;
}

.footer {
    height: 10vh;
    position: relative;
    margin-top: auto;
}

.btn {
    background-color: #2b674f;
}

/* main.html */

.main {
    width: 500px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main_p {
    font-size: 18px;
    text-align: left;
}

#slogan {
    font-size: 32px;
}

/* register.html + login.html */

.titulo {
    font-size: 32px;
    font-weight: 600;
}

.register-login {
    width: max-content;
    flex-direction: column;
    margin-bottom: 60px;
    flex: 1;
    padding-right: 60px;
    padding-left: 60px;
}

.login {
    height: 85vh;
}

.login-text {
    flex-direction: column;
    flex: 2;
    padding: 60px;
}

.login-button {
    width: 100%;
}

.line {
    flex: 1;
    border: none;
    border-top: 1px solid #000; /* Estilo da linha horizontal */
    margin: 0 10px; /* Espaçamento entre as linhas e parágrafos */
}

.forgot-password {
    text-decoration: none;
    color: #2b674f;
    font-weight: 600;
}
