/* base.html  */

body {
    background-color: #eeeeee;
    font-family: Rubik;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-navbar {
    height: 5vh;
    font-family: Rubik;
    font-weight: 600;
    color: #2b674f;
}

.footer {
    height: 10vh;
    position: relative;
    margin-top: auto;
}

.btn {
    background-color: #2b674f;
}

/* main.html */

.main {
    width: 500px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.main_p {
    font-size: 18px;
    text-align: left;
}

#slogan {
    font-size: 32px;
}

/* register.html + login.html */

.titulo {
    font-size: 32px;
    font-weight: 600;
}

.register-login {
    width: max-content;
    flex-direction: column;
    margin-bottom: 60px;
    flex: 1;
    padding-right: 60px;
    padding-left: 60px;
}

.login {
    height: 85vh;
}

.login-text {
    flex-direction: column;
    flex: 2;
    padding: 60px;
}

.login-button {
    width: 100%;
}

.line {
    flex: 1;
    border: none;
    border-top: 1px solid #000; /* Estilo da linha horizontal */
    margin: 0 10px; /* Espaçamento entre as linhas e parágrafos */
}

.forgot-password {
    text-decoration: none;
    color: #2b674f;
    font-weight: 600;
}

.btn.btn-outline-info {
    background-color: #ffffff;
    border: 1px solid #2b674f;
    color: #2b674f;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn.btn-outline-info:hover {
    background-color: #2b674f;
    color: #ffffff;
}

.btn.btn-outline-info a {
    text-decoration: none;
    color: inherit;
}

.google-logo {
    margin-right: 10px; 
    height: 24px; 
}

/* user-profile.html */

.top-infos {
    position: relative;
    width: 1300vh;
    height: 25vh;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-picture {
    width: 19vh;
    height: 19vh;
    overflow: hidden;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%; 
    width: auto;
    height: auto;
}

.top-infos-uteis {
    height: 19vh;
    width: fit-content;
    flex-direction: column;
}

.top-infos-endereco {
    height: 19vh;
    width: fit-content;
}

.top-infos-uteis h1, .top-infos-endereco h1 {
    font-weight: 800;
    font-size: 24px;
}

.top-infos-uteis p, .top-infos-endereco p {
    font-weight: 400;
    font-size: 18px;
}

.vertical-line {
    position: absolute;
    width: 1px; 
    height: 19vh;
    background-color: #d9d9d9;  
    transform: translateX(-50%);
}

.btn.btn-light {
    background-color: #eeeeee;
}

.btn-lattes {
    width: fit-content;
}

.btn-lattes a {
    text-decoration: none;
    color: inherit;
}

.lattes-logo {
    margin-right: 10px; 
    height: 24px; 
}

.formacao-pesquisa {
    position: relative;
    width: 1300vh;
    height: 55vh;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.formacao-pesquisa li {
    font-weight: 600;
}